@* @model Student
@{
}

<h2 class=" bg-info alert-info">

    Student name = @Model.Name ::
    Student age = @Model.Age ::
    Student email = @Model.Email ::
    Student dept = @Model.Department.DeptName ::


</h2> *@


@model Student
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    @*    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <h1 class="alert alert-info">

    student name::@Model.Name ::student id:: @Model.Id ::student Age::@Model.Age::Student deptno::@Model.deptNo  ::student dept name:::@Model.Department.DeptName
    </h1>
    *@

    @*  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body"> *@
    <p> student name:@Model.Name.</p>
    <p>student id:: @Model.Id </p>
    <p>student Age::@Model.Age </p>
    <p>@Model.Department.DeptName </p>
    @* <p>@Model.ImageData</p> *@

    @*
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </div> *@

    <a asp-action="index" asp-controller="student" class="btn btn-danger">back to list</a>
</body>
</html>

